*{
    font-family: "Comfortaa", serif;
    font-style: normal;
    color: var(--darkgray);
    background-color: var(--lightyellow);
}
/* color palette*/
:root{
    --lightyellow: #fffadf;
    --dandelion:#e8b12d;
    --green: #435b2d;
    --brown: #925f17;
    --yellow:#e9bf59;
    --darkgray: rgb(76, 76, 76);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    color: var(--dandelion);
    padding: 20px;
}

button {
    background-color:var(--dandelion);
    color: white;
    /*border: none;
    border-radius: 100px;
    padding: 12px 20px;*/
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
    font-size: 1rem;
    border:solid;
    padding:12px;
    border-radius:10px;
    border-color: var(--yellow);
}

button:hover{
    transform: scale(1.05);
}

#casesList { 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.case-card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

select {
    background-color: var(--dandelion);
    color: white;
    margin: 10px;
    border:solid;
    padding:6px;
    border-radius:10px;

}

input {
    margin: 10px;
    background-color: var(--dandelion);
    color: white;
    border:solid;
    padding:12px;
    border-radius:10px;
    font-size: 1rem;
    border-color: var(--yellow);
}

input[type=submit]:hover {
    cursor: pointer;
    transform: scale(1.05);
}